:root {
  --main-background-color: #ced4d8;
  --secondary-background-color: gold;
}

body {
  background-color: var(--main-background-color);
}
h1 {
  color: #ac6ac7;
}
h1:hover {
  color: navy;
}
h2 {
  color: rgb(255, 165, 0);
}
li {
  color: blue;
}
p {
  background-color: var(--secondary-background-color);
}
input[type="text"] {
  border: 5px dotted pink;
}
input[type="email"] {
  background-color: #808080;
}
.first {
  background-color: #fff;
}
#important {
  border: 3px dashed #0000ff;
}
#important::first-letter {
  color: limegreen;
  font-size: 90px;
}
div p {
  font-size: 30px;
}

input[type="checkbox"] {
  margin-left: 40px;
}
label {
  text-transform: lowercase;
}
a:visited {
  color: silver;
}
em {
  font-size: 25px;
  color: seashell;
}
div:nth-of-type(3) p {
  background-color: hotpink;
}
